@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?j12qyr');
  src: url('../fonts/icomoon.eot?j12qyr#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?j12qyr') format('truetype'), url('../fonts/icomoon.woff?j12qyr') format('woff'), url('../fonts/icomoon.svg?j12qyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-right-arrow:before {
  content: "\e902";
}
.icon-phone-call:before {
  content: "\e901";
}
.icon-musica-searcher:before {
  content: "\e900";
}
@-webkit-keyframes shake {
  from {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  20% {
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  80% {
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  to {
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/* colors */
.container {
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: 'Arial';
  line-height: 1;
  color: #000000;
}
body.mainpage #content {
  display: none;
}
a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
::-moz-selection {
  background: #284492;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #284492;
  color: #ffffff;
  text-shadow: none;
}
h1 {
  font-size: 1em;
  margin: 0;
}
.border_red {
  border: 1px solid #ff003c !important;
}
.mainpage .main-content {
  display: none;
}
/*------------------------------------*\
    #HEADER (шапка)
\*------------------------------------*/
.header {
  padding: 20px 0;
}
.header-block {
  float: left;
}
.header-left {
  width: 20%;
  margin-right: 3%;
}
.header-left .logo {
  width: 100%;
  display: block;
  height: 96px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-left .logo:hover {
  background-image: url(../images/logo-hover.png);
}
.header-center {
  width: 55%;
}
.header-right {
  width: 22%;
  text-align: right;
  font-family: 'Lato';
  font-size: 22px;
  padding-top: 5px;
}
/*------------------------------------*\
    #MOD_SEARCH (модуль поиска)
\*------------------------------------*/
.search {
  width: 90%;
  float: left;
}
.search .search-query {
  width: 72%;
  height: 30px;
  border: 1px solid #cccccc;
  padding: 0 15px;
  border-radius: 2px;
}
.search button {
  height: 30px;
  padding: 0 15px 0 25px;
  background-color: #284492;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Lato';
  border: 1px solid #284492;
  vertical-align: top;
  position: relative;
  left: -5px;
  border-radius: 3px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.search button:hover {
  background-color: #ffffff;
  color: #284492;
}
.search i {
  position: relative;
  left: -10px;
  top: 1px;
}
/*------------------------------------*\
    #MOD_LANG (модуль языков)
\*------------------------------------*/
.mod-languages {
  width: 10%;
  float: left;
}
.mod-languages .dropdown > a {
  display: inline-block;
  padding: 7px 25px 7px 10px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  position: relative;
}
.mod-languages .dropdown > a:hover {
  border: 2px solid #999999;
}
.mod-languages .dropdown > a:after {
  content: '';
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #cccccc;
  display: block;
  top: 12px;
  right: 8px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod-languages .dropdown > a:hover:after {
  border-top: 5px solid #999999;
}
.mod-languages .dropdown-menu {
  min-width: 10px;
}
.mod-languages li {
  cursor: pointer;
  margin-right: 2px !important;
  width: 54px;
  text-align: center;
}
.mod-languages li a {
  display: block;
  padding: 10px 0;
}
/*------------------------------------*\
    #MOD_MENU_TOP (модуль верхнего меню)
\*------------------------------------*/
.mod-menu-top {
  padding-top: 8px;
}
.mod-menu-top .nav > li > a {
  display: inline-block;
  padding: 20px 16px;
}
.mod-menu-top li {
  display: inline-block;
}
.mod-menu-top li:hover ul {
  opacity: 1;
  visibility: visible;
}
.mod-menu-top a {
  font-size: 15px;
  font-family: 'Lato';
  color: #284492;
  font-weight: bold;
}
.mod-menu-top a:hover span {
  border-bottom: 1px solid transparent;
}
.mod-menu-top span {
  border-bottom: 1px solid #284492;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod-menu-top ul ul {
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  padding: 15px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  box-shadow: 0 0 10px #cccccc;
}
.mod-menu-top ul ul li {
  display: block;
}
.mod-menu-top ul ul a {
  padding: 15px 35px;
  display: block;
  color: #284492;
  background-color: transparent;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.mod-menu-top ul ul a:hover {
  background-color: #284492;
  color: #ffffff;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
/*------------------------------------*\
    #MOD_MENU_TOP (модуль верхнего меню)
\*------------------------------------*/
.mod_form_gr .modal_form_btn.call {
  color: #ffffff;
  padding: 9px 20px 9px 15px;
  background-color: #253e86;
  border-radius: 2px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  border: 1px solid #253e86;
  position: relative;
  font-size: 14px;
  display: inline-block;
  font-family: 'Lato';
  margin-top: 13px;
  margin-right: 30px;
}
.mod_form_gr .modal_form_btn.call:hover {
  background-color: #ff003c;
  border: 1px solid #ff003c;
}
.mod_form_gr .modal_form_btn.call:after {
  font-family: 'icomoon';
  content: "\e901";
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ff003c;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  border: 3px solid #ffffff;
  padding-top: 10px;
  position: absolute;
  right: -35px;
  top: -9px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod_form_gr .modal_form_btn.call:hover:after {
  animation: shake 0.4s linear;
}
.captcha {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.captcha > div {
  display: inline-block;
}
/*------------------------------------*\
    #SLIDER (Слайдер)
\*------------------------------------*/
.mod-slider-gr {
  position: relative;
}
.mod-slider-gr .item {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 325px;
}
.mod-slider-gr .container {
  position: relative;
}
.mod-slider-gr .dots-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mod-slider-gr .dots {
  position: absolute;
  right: 0;
  top: 130px;
}
.mod-slider-gr .dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  margin: 5px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod-slider-gr .dot:hover {
  background-color: white;
}
.mod-slider-gr .dot.active,
.mod-slider-gr .dot.active:hover {
  background-color: #ff003c;
}
.mod-slider-gr .text {
  width: 55%;
  padding-top: 100px;
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
  font-family: 'Lato Bold';
  text-transform: uppercase;
}
.mod-slider-gr .readmore {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}
.mod-slider-gr .readmore a {
  font-family: 'Lato Bold';
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  padding: 15px 60px 15px 15px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}
.mod-slider-gr .readmore a:hover {
  background-color: #284492;
  border: 2px solid #284492;
}
.mod-slider-gr .readmore a:hover span {
  border-left: 2px solid #284492;
}
.mod-slider-gr .readmore span {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 14px;
  border-left: 2px solid #ffffff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*------------------------------------*\
    #MOD_CATEGORY (модуль категорий на главной)
\*------------------------------------*/
.mod_blocks_gr.default {
  background-color: #d5ddf3;
  padding: 20px 0;
  margin-bottom: 30px;
}
.mod_blocks_gr.default .blocks {
  margin-left: -20px;
}
.mod_blocks_gr.default .block {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.mod_blocks_gr.default a {
  display: block;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.mod_blocks_gr.default a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #284492;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod_blocks_gr.default a:hover:after {
  opacity: 0.7;
  visibility: visible;
}
.mod_blocks_gr.default a:hover .img {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mod_blocks_gr.default a:hover .name {
  color: #ffffff;
}
.mod_blocks_gr.default .img {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -25px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mod_blocks_gr.default .name {
  font-family: 'Lato Bold';
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px 25px 20px;
  height: 75px;
  line-height: 1.1;
  position: relative;
  z-index: 1;
  color: #284492;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*------------------------------------*\
    #BLOCKS_MAIN (блоки на главной)
\*------------------------------------*/
.after-content-style-none {
  position: relative;
  padding-bottom: 40px;
}
.after-content-style-none .container {
  position: relative;
}
.after-content-style-none .all-news {
  position: absolute;
  right: 0;
  top: 30px;
}
.after-content-style-none .all-news a {
  color: #7993da;
  border-bottom: 1px solid #7993da;
}
.after-content-style-none .all-news a:hover {
  border-bottom: 1px solid transparent;
}
.after-content-style-none .name {
  font-size: 30px;
  font-family: 'Arial';
  padding: 20px 0 30px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #4d4d4d;
}
.after-content-style-none .block-main {
  float: left;
  width: 25%;
  height: 260px;
}
.after-content-style-none .news-single:nth-child(even) {
  background-color: #d5ddf3;
}
.after-content-style-none .news-single:nth-child(odd) {
  background-color: #f1f4fb;
}
.after-content-style-none .news-single {
  padding: 30px 20px;
}
.after-content-style-none .newsflash-title {
  font-size: 16px;
  font-weight: bold;
  color: #284492;
  text-transform: uppercase;
  font-family: 'Arial';
  padding-bottom: 10px;
  line-height: 1.3;
  letter-spacing: 0.6px;
}
.after-content-style-none .intro {
  color: #666666;
  line-height: 1.4;
}
.after-content-style-none .readmore {
  margin-top: 15px;
}
.after-content-style-none .readmore a {
  border-bottom: 2px solid #a1b3e5;
  color: #3357ba;
}
.after-content-style-none .readmore a:hover {
  border-bottom: 2px solid transparent;
}
.after-content-style-none .director {
  color: #ffffff;
  background-color: #284492;
  padding: 25px 20px;
}
.after-content-style-none .director .prof {
  font-family: 'Arial';
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}
.after-content-style-none .director .quote {
  font-family: 'Lato';
  font-size: 14px;
  color: #c9d3f0;
  line-height: 1.5;
  padding-left: 20px;
  position: relative;
  margin-bottom: 20px;
}
.after-content-style-none .director .open-quote {
  font-family: 'Arial';
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: -10px;
}
.after-content-style-none .director .close-quote {
  font-family: 'Arial';
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  bottom: -10px;
  right: 0px;
}
.after-content-style-none .director .fio {
  font-family: 'Arial';
  font-size: 12px;
}
.after-content-style-none .director.img {
  background-size: cover;
  background-repeat: no-repeat;
}
.after-content-style-none .block-main.slider {
  width: 50%;
  padding: 40px;
}
.after-content-style-none .block-main.slider .img {
  width: 30%;
  float: left;
}
.after-content-style-none .block-main.slider .desc {
  width: 65%;
  float: left;
  position: relative;
  margin-left: 5%;
  padding-bottom: 40px;
}
.after-content-style-none .block-main.slider .item {
  height: auto;
}
.after-content-style-none .block-main.slider .dots {
  bottom: 0;
  left: 0;
  top: auto;
}
.after-content-style-none .block-main.slider .dot {
  display: inline-block;
  background-color: #999999;
  border: none;
  height: 15px;
  width: 15px;
}
.after-content-style-none .block-main.slider .dot.active {
  background-color: #3d62ca;
}
.after-content-style-none .block-main.slider .name {
  font-weight: bold;
  font-family: 'Arial';
  font-size: 16px;
  color: #284492;
  padding: 10px 0 25px 0;
}
.after-content-style-none .block-main.slider .desc-name {
  line-height: 1.4;
  color: #8c8c8c;
  font-size: 14px;
  font-family: 'Lato';
}
.after-content-style-none .block-main.slider img {
  border: 6px solid #c9d3f0;
  max-width: 100%;
  cursor: pointer;
}
.modal-body img {
  max-width: 100%;
}
/*------------------------------------*\
    #MOD_JOOMSHOPPING_CATEGORIES (модуль категорий)
\*------------------------------------*/
.mod_jshopping_categories {
  margin-left: -25px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #d9e0f5;
}
.mod_jshopping_categories .categories_group {
  width: 25%;
  float: left;
  padding-left: 25px;
}
.mod_jshopping_categories .jshop_menu_level_1,
.mod_jshopping_categories .jshop_menu_level_1_a {
  display: none;
}
.mod_jshopping_categories .jshop_menu_level_0,
.mod_jshopping_categories .jshop_menu_level_0_a {
  padding-bottom: 25px;
  border-bottom: 1px solid #d9e0f5;
  margin-bottom: 25px;
}
.mod_jshopping_categories .jshop_menu_level_0 a,
.mod_jshopping_categories .jshop_menu_level_0_a a {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Arial';
  color: #284492;
}
.mod_jshopping_categories .child-cat {
  padding-bottom: 15px;
}
.mod_jshopping_categories .child-cat a {
  color: #666666;
  font-family: 'Arial';
  line-height: 1.1;
}
.mod_jshopping_categories .child-cat a:hover {
  color: #284492;
}
/*------------------------------------*\
    #FOOTER (футер)
\*------------------------------------*/
.footer .logo {
  width: 100%;
  display: block;
  height: 62px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer .logo:hover {
  background-image: url(../images/logo-hover.png);
}
.footer .container {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #d9e0f5;
}
.footer .custom {
  float: left;
  width: 25%;
}
.footer img {
  max-width: 50%;
}
.footer .phone {
  font-size: 22px;
  font-family: 'Lato';
  color: #4d4d4d;
  padding-top: 8px;
}
.footer .phone span {
  color: #284492;
  font-weight: bold;
}
.footer .phone p {
  display: inline-block;
  width: 80%;
}
.footer .phone:before {
  content: '';
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  border: 2px solid #284492;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.footer .mail {
  font-size: 16px;
  font-family: 'Arial';
  color: #4d4d4d;
  padding-top: 8px;
}
.footer .mail p {
  display: inline-block;
  width: 80%;
}
.footer .mail:before {
  content: '';
  background-image: url(../images/mail.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 43px;
  height: 43px;
  display: inline-block;
  border: 2px solid #284492;
  border-radius: 100%;
  margin-right: 5px;
  vertical-align: middle;
}
.footer .medialine {
  padding-top: 22px;
  font-size: 16px;
  font-family: 'Arial';
  color: #4d4d4d;
}
.footer .medialine a {
  color: #284492;
  border-bottom: 1px solid #284492;
}
.footer .medialine a:hover {
  border-bottom: 1px solid transparent;
}
/*------------------------------------*\
    #MODAL_FORM (форма)
\*------------------------------------*/
.modal-content {
  padding: 30px;
  position: relative;
  text-align: left;
}
.modal-content .close {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
}
.modal-content .close:hover {
  color: #284492;
}
.modal-content .page-head {
  text-align: center;
  padding-bottom: 20px;
}
.modal-content .input {
  height: 38px;
  width: 100%;
  padding: 0 10px;
}
.modal-content textarea.input {
  height: 100px;
  width: 100%;
  padding: 0 10px;
}
.modal-content .text {
  text-align: left;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 16px;
}
.modal-content .send {
  text-align: center;
  padding-top: 10px;
}
.modal-content button {
  padding: 6px 70px;
  font-size: 18px;
  border: 1px solid #284492;
  background-color: #284492;
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.modal-content button:hover {
  background-color: #ffffff;
  color: #284492;
}
/*------------------------------------*\
    CATEGORY_INNER (модуль категорий на внутренних страницах)
\*------------------------------------*/
.mod_blocks_gr.catalog {
  background-color: #d5ddf3;
  padding: 30px 0;
  margin-bottom: 30px;
}
.mod_blocks_gr.catalog .blocks {
  margin-left: -20px;
}
.mod_blocks_gr.catalog .block {
  float: left;
  width: 25%;
  padding-left: 20px;
  position: relative;
}
.mod_blocks_gr.catalog .block:after {
  content: '';
  position: absolute;
  width: 60%;
  height: 8px;
  box-shadow: none;
  bottom: 5px;
  left: 22%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.mod_blocks_gr.catalog .block:hover:after {
  box-shadow: 0 10px 30px 9px #979fb6;
}
.mod_blocks_gr.catalog a {
  display: block;
  background-color: white;
  position: relative;
  overflow: hidden;
  text-align: right;
  z-index: 1;
}
.mod_blocks_gr.catalog a:hover .img {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mod_blocks_gr.catalog a:hover .name {
  color: #ffffff;
}
.mod_blocks_gr.catalog a:hover {
  background-color: #284492;
}
.mod_blocks_gr.catalog .img {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mod_blocks_gr.catalog .name {
  font-family: 'Lato Bold';
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  position: relative;
  z-index: 1;
  color: #284492;
  display: inline-block;
  width: 68%;
  vertical-align: middle;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*------------------------------------*\
    #BREADCRUMBS (хлебные крошки)
\*------------------------------------*/
.breadcrumb {
  padding: 0;
  background-color: transparent;
}
.breadcrumb > li + li:before {
  content: '';
  padding: 0;
}
.breadcrumb li {
  display: inline-block;
  position: relative;
}
.breadcrumb a {
  color: #1f7bc8;
  border-bottom: 2px solid #d4e8f8;
}
.breadcrumb a:hover {
  border-bottom: 2px solid transparent;
}
.breadcrumb .crumb + .crumb {
  margin-left: 30px;
}
.breadcrumb .crumb + .crumb:after {
  position: absolute;
  content: url(../images/arrow-crumb.png);
  left: -22px;
  top: 14px;
}
.breadcrumb span {
  display: inline-block;
}
/*------------------------------------*\
    #JSHOP_LIST_CATEGORY (список категорий)
\*------------------------------------*/
#mxcpr {
  display: none;
}
.jshop_list_category .sblock4 {
  width: 25%;
  float: left;
  padding-left: 30px;
  margin-bottom: 40px;
}
.jshop_list_category .categories {
  margin-left: -30px;
}
.jshop_list_category .image {
  height: 170px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center center;
  background-color: white;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.jshop_list_category .image-overflow {
  overflow: hidden;
}
.jshop_list_category .image-wrapper {
  position: relative;
  border: 1px solid #d9e0f5;
}
.jshop_list_category .image-wrapper:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 8px;
  box-shadow: none;
  bottom: 5px;
  left: 15%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.jshop_list_category img {
  max-width: 100%;
}
.jshop_list_category .name {
  color: #1f7bc8;
  text-align: center;
  line-height: 1.4;
  padding-top: 30px;
}
.jshop_list_category .name span {
  border-bottom: 2px solid #d4e8f8;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.jshop_list_category a {
  display: block;
}
.jshop_list_category a:hover .name span {
  border-bottom: 2px solid transparent;
}
.jshop_list_category a:hover:hover .image-wrapper:after {
  box-shadow: 0 6px 40px 9px #979fb6;
}
.jshop_list_category a:hover .image {
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.jshop_list_category .category_description {
  padding-bottom: 40px;
  line-height: 1.5;
  color: #666666;
}
/*------------------------------------*\
    #JSHOP_CATEGORY_FULL (категория детально)
\*------------------------------------*/
.category-full .left-block {
  width: 40%;
  float: left;
}
.category-full .left-block .img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: center center;
  border: 1px solid #dde3f6;
  margin-bottom: 20px;
}
.category-full .right-block {
  width: 57%;
  margin-left: 3%;
  float: left;
}
.category-full .form-block {
  margin: 0 5px 20px 5px;
  padding: 35px;
  background: #ebf0ff;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2');
  /* для IE6-9 */
  background: -webkit-linear-gradient(top, #f4f7ff, #ebf0ff);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(top, #f4f7ff, #ebf0ff);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(top, #f4f7ff, #ebf0ff);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(top, #f4f7ff, #ebf0ff);
  /* для IE10+ */
  border-radius: 2px;
  position: relative;
  z-index: 1;
}
.category-full .buy-text {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 30px;
}
.category-full .buy-text span {
  text-transform: lowercase;
}
.category-full .prev-text {
  line-height: 1.5;
  font-size: 16px;
}
.category-full .modal_form_btn {
  background-color: #284492;
  color: #ffffff;
  font-family: 'Lato';
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  border-radius: 3px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
.category-full .modal_form_btn:hover {
  background-color: #ff003c;
}
.category-full .form-mod {
  position: relative;
}
.category-full .form-mod:after {
  content: '';
  position: absolute;
  width: 70%;
  height: 8px;
  box-shadow: none;
  bottom: 5px;
  left: 15%;
  box-shadow: 0 6px 30px 5px #979fb6;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.category-full .form-block-wrapper {
  position: relative;
}
.category-full .form-block-wrapper:after {
  content: '';
  position: absolute;
  width: 80%;
  height: 8px;
  box-shadow: none;
  bottom: 5px;
  left: 10%;
  box-shadow: 0 6px 45px 1px #000000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.category-full .right-block .name {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-top: 0;
  padding-bottom: 30px;
  color: #000000;
  text-transform: uppercase;
}
.category-full .products {
  border-top: 1px solid #dde3f6;
  border-bottom: 1px solid #dde3f6;
  padding: 20px 0 25px 0;
  margin-bottom: 40px;
}
.category-full .product {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 10px 0;
}
.category-full .product a {
  line-height: 1.3;
  border-bottom: 1px solid #1f7bc8;
  color: #1f7bc8;
  display: inline;
  position: relative;
  left: 20px;
}
.category-full .product a:hover {
  border-bottom: 1px solid transparent;
}
.category-full .product a:hover:before {
  left: -15px;
}
.category-full .product a:before {
  content: url(../images/arrow-gray.png);
  position: absolute;
  left: -20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.category-full .description {
  line-height: 1.5;
  color: #595959;
}
.category-full .description p {
  padding-bottom: 15px;
}
/*------------------------------------*\
    #JSHOP_PRODUCT (Товар)
\*------------------------------------*/
.productfull .jshop_prod_description {
  padding-bottom: 40px;
  line-height: 1.5;
  color: #595959;
}
.productfull .jshop_prod_description p {
  padding-bottom: 15px;
}
/*------------------------------------*\
    #CONTENT (контент)
\*------------------------------------*/
.main-content {
  padding-bottom: 20px;
}
.page-header,
h2 {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 700;
  font-size: inherit;
}
.page-name,
.componentheading,
.page-header,
.page-head,
.subheading-category {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0 35px 0;
  display: block;
}
.item-page {
  min-height: 300px;
}
.item-page p,
.item-page ul,
.item-page ol {
  padding-bottom: 10px;
  line-height: 1.5;
  margin: 0;
}
.left-block-content {
  float: left;
  width: 60%;
  margin-right: 5%;
}
.right-block-content {
  float: left;
  width: 35%;
}
.right-block-content .mod_form_gr input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 5px;
}
.right-block-content .mod_form_gr textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  height: 150px;
}
.right-block-content .mod_form_gr button {
  width: 100%;
  padding: 15px 0;
  background-color: #284492;
  color: #ffffff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border: none;
}
.right-block-content .mod_form_gr button:hover {
  background-color: #ff003c;
}
.items-more {
  display: none;
}
/*------------------------------------*\
    #PAGINATION (пагинация)
\*------------------------------------*/
.pagination {
  text-align: center;
  width: 100%;
}
.pagination .pagination-start,
.pagination .pagination-prev,
.pagination .pagination-next,
.pagination .pagination-end,
.pagination .counter {
  display: none;
}
.pagination li {
  display: inline-block;
  margin: 0 5px;
}
.pagination a,
.pagination span {
  height: 30px;
  width: 30px;
  display: block;
  padding-top: 8px;
  font-size: 16px;
}
.pagination span {
  background-color: #284492;
  color: #ffffff;
  border-radius: 100%;
}
.pagination a {
  color: #284492;
}
.pagination a:hover {
  color: #ff003c;
}
/*------------------------------------*\
    #GUESTBOOK (контент)
\*------------------------------------*/
.easy_pagination,
#easyfooter {
  display: none;
}
#easybook button,
#easybook .btn {
  background-color: #284492;
  border-color: transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#easybook button:hover,
#easybook .btn:hover {
  background-color: #ff003c;
}
#easybook form input {
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 350px;
  padding: 5px;
}
#easybook form textarea {
  width: 350px;
  height: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
}
#easybook .easy_top {
  background-color: #5172cf;
  color: white;
}
#easybook .easy_content {
  background-color: #f5f7fc;
  border-left: 5px solid #5172cf;
  border-right: 5px solid #5172cf;
  background-image: none;
}
#easybook .easy_admincomment {
  background-color: #f5f7fc;
  border-left: 5px solid #5172cf;
  border-right: 5px solid #5172cf;
  background-image: none;
}
#easybook .easy_admincomment img {
  display: none;
}
#easybook .easy_frame {
  margin-bottom: 35px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#easybook .easy_frame:hover {
  box-shadow: 0px 0 25px 0 #a1b3e5;
}
#easybook .easy_entrylink {
  padding: 0;
}
#easybook .easy_small {
  font-size: 14px;
}
#easybook .easy_top_left {
  padding-top: 8px;
}
/*------------------------------------*\
    #NEWS (список новостей)
\*------------------------------------*/
.blog .page-header {
  font-size: 20px;
  padding: 0 0 15px 0;
  text-transform: none;
}
.blog .items-leading > div {
  padding-bottom: 35px;
}
.blog a {
  color: #284492;
}
.blog a:hover {
  color: #ff003c;
}
.blog p {
  line-height: 1.4;
}
/*------------------------------------*\
    #SEARCH_PAGE (страница поиска)
\*------------------------------------*/
.main-content .search input {
  height: 30px;
}
.main-content .search .searchintro {
  padding: 15px 0;
}
.main-content .search .result-text {
  padding-bottom: 20px;
}
.main-content .search .form-limit {
  display: none;
}
