@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?j12qyr');
    src:  url('../fonts/icomoon.eot?j12qyr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j12qyr') format('truetype'),
    url('../fonts/icomoon.woff?j12qyr') format('woff'),
    url('../fonts/icomoon.svg?j12qyr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e902";
}
.icon-phone-call:before {
  content: "\e901";
}
.icon-musica-searcher:before {
  content: "\e900";
}



@-webkit-keyframes shake {
    from {.transform(0);}
    20% {.transform(30deg);}
    50% {.transform(-30deg);}
    80% {.transform(30deg);}
    to {.transform(0);}
}


/* colors */
@color1: #284492;
@color2: #ff003c;
@color3: #000000;
@color4: #ffffff;
@color5: #1f7bc8;
@color6: #979fb6;

@font-color1: #284492;
@font-color2: #ff003c;
@font-color3: #000000;
@font-color4: #ffffff;
@font-color5: #1f7bc8;
@font-color7: #979fb6;

@font1: 'Lato';
@font1-bold: 'Lato Bold';
@font1-light: 'Lato-Light';
@font2: 'Open Sans';
@font3: 'Arial';

.transition(@value) {
	-webkit-transition: all @value linear;
	-o-transition: all @value linear;
	-moz-transition: all @value linear;
	transition: all @value linear;
}

.transform(@value) {
    -moz-transform: rotate(@value);
    -o-transform: rotate(@value);
    -webkit-transform: rotate(@value);
    transform: rotate(@value);
}

.scale(@value) {
     -moz-transform: scale(@value);
     -o-transform: scale(@value);
     -webkit-transform: scale(@value);
     transform: scale(@value);
}

.grayscale() {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    filter: gray; 
    -webkit-filter: grayscale(100%);
}

.grayscale-off() {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}

.gradient(@color1, @color2, @color-default, @position1) {
    background: @color-default; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2'); /* для IE6-9 */
    background: -webkit-linear-gradient(@position1, @color1, @color2); /* для webkit-браузеров */
    background: -moz-linear-gradient(@position1,  @color1,  @color2); /* для firefox 3.6+ */
    background: -o-linear-gradient(@position1,  @color1,  @color2); /* для Opera 11.10+ */
    background: -ms-linear-gradient(@position1,  @color1,  @color2); /* для IE10+ */
}

.radial-gradient(@color1, @size1, @color2, @size2, @color-default) {
    background: @color-default; /* for non-css3 browsers */
    background: -webkit-radial-gradient(@color1 @size1, @color2 @size2); /* Chrome10+,Safari5.1+ */
    background: -moz-radial-gradient(@color1 @size1, @color2 @size2); /* FF3.6+ */
    background: -o-radial-gradient(@color1 @size1, @color2 @size2); /* Opera 11.10+ */
    background: -ms-radial-gradient(@color1 @size1, @color2 @size2); /* IE10+ */
    background: radial-gradient(@color1 @size1, @color2 @size2); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@color-default, endColorstr=@color-default); /* IE6-8 */
}

.container {
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: @font3;
    line-height: 1;
    color: @font-color3;
}

body.mainpage #content{
    display: none;
}

a {
    .transition(0.2s);
}

a, a:hover, a:focus {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

::-moz-selection {
    background: @color1;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: @color1;
    color: #ffffff;
    text-shadow: none;
}

h1 {
    font-size: 1em;
    margin: 0;
}

.border_red {
    border: 1px solid @color2 !important;
}

.mainpage .main-content{
    display: none;
}





/*------------------------------------*\
    #HEADER (шапка)
\*------------------------------------*/
.header {
    padding: 20px 0;
}

.header-block {
    float: left;
}

.header-left {
    width: 20%;
    margin-right: 3%;

    .logo {
        width: 100%;
        display: block;
        height: 96px;
        background-image: url(../images/logo.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        .transition(0.2s);

        &:hover {
            background-image: url(../images/logo-hover.png);
        }
    }
}

.header-center {
    width: 55%;
}

.header-right {
    width: 22%;
    text-align: right;
    font-family: @font1;
    font-size: 22px;
    padding-top: 5px;
}





/*------------------------------------*\
    #MOD_SEARCH (модуль поиска)
\*------------------------------------*/
.search {
    width: 90%;
    float: left;

    .search-query {
        width: 72%;
        height: 30px;
        border: 1px solid darken(@color4, 20%);
        padding: 0 15px;
        border-radius: 2px;
    }

    button {
        height: 30px;
        padding: 0 15px 0 25px;
        background-color: @color1;
        color: @font-color4;
        font-size: 15px;
        font-family: @font1;
        border: 1px solid @color1;
        vertical-align: top;
        position: relative;
        left: -5px;
        border-radius: 3px;
        .transition(0.2s);

        &:hover {
            background-color: @color4;
            color: @font-color1;
        }
    }

    i {
        position: relative;
        left: -10px;
        top: 1px;
    }
}





/*------------------------------------*\
    #MOD_LANG (модуль языков)
\*------------------------------------*/
.mod-languages {
    width: 10%;
    float: left;

    a {
        display: inline-block;
        padding: 7px 25px 7px 10px;
        border: 2px solid darken(@color4, 20%);
        border-radius: 3px;
        position: relative;

        &:hover {
            border: 2px solid darken(@color4, 40%);
        }
    }

    a:after {
        content: '';
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid darken(@color4, 20%);
        display: block;
        top: 12px;
        right: 8px;
        .transition(0.2s);
    }

    a:hover:after {
        border-top: 5px solid darken(@color4, 40%);
    }

    .dropdown-menu {
        min-width: 10px;
    }

    li {
        padding: 10px 0;
        cursor: pointer;
        margin-right: 2px !important;
        width: 54px;
        text-align: center;
    }
}





/*------------------------------------*\
    #MOD_MENU_TOP (модуль верхнего меню)
\*------------------------------------*/
.mod-menu-top {
    padding-top: 8px;

    .nav>li>a {
        display: inline-block;
        padding: 20px 16px;
    }

    li {
        display: inline-block;
        
        &:hover ul{
            opacity: 1;
            visibility: visible;            
        }
    }

    a {
        font-size: 15px;
        font-family: @font1;
        color: @font-color1;
        font-weight: bold;

        &:hover span{
            border-bottom: 1px solid transparent;
        }
    }
    
    span {
        border-bottom: 1px solid @color1;
        .transition(0.2s);
    }
    
    ul ul {
        position: absolute;
        width: 300px;
        background-color: white;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        padding: 15px 0;
        .transition(0.2s);
        box-shadow: 0 0 10px lighten(@color3, 80%);
        
        li {
            display: block;
        }
        
        a {
            padding: 15px 35px;
            display: block;
            color: @font-color1;
            background-color: transparent;
            .transition(0.1s);

            &:hover {
                background-color: @color1;
                color: @font-color4;
            }
        }
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}






/*------------------------------------*\
    #MOD_MENU_TOP (модуль верхнего меню)
\*------------------------------------*/
.mod_form_gr {
    .modal_form_btn.call {
        color: @font-color4;
        padding: 9px 20px 9px 15px;
        background-color: darken(@font-color1, 3%);
        border-radius: 2px;
        .transition(0.3s);
        cursor: pointer;
        border: 1px solid darken(@font-color1, 3%);
        position: relative;
        font-size: 14px;
        display: inline-block;
        font-family: @font1;
        margin-top: 13px;
        margin-right: 30px;

        &:hover {
            background-color: @color2;
            border: 1px solid @color2;
        }

        &:after {
            font-family: 'icomoon';
            content: "\e901";
            height: 50px;
            width: 50px;
            border-radius: 100%;
            background-color: @color2;
            color: @color4;
            display: inline-block;
            text-align: center;
            font-size: 22px;
            border: 3px solid @color4;
            padding-top: 10px;
            position: absolute;
            right: -35px;
            top: -9px;
            .transition(0.2s);
        }

        &:hover:after {
            animation: shake 0.4s linear;
        }
    }
}






/*------------------------------------*\
    #SLIDER (Слайдер)
\*------------------------------------*/
.mod-slider-gr {
    position: relative;

    .item {
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        height: 325px;
    }

    .container {
        position: relative;
    }

    .dots-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .dots {
        position: absolute;
        right: 0;
        top: 130px;
    }

    .dot {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 3px solid @color4;
        background-color: @color4;
        cursor: pointer;
        margin: 5px 0;
        .transition(0.2s);
    }

    .dot:hover {
        background-color: white;
    }

    .dot.active, .dot.active:hover {
        background-color: @color2;
    }

    .text {
        width: 55%;
        padding-top: 100px;
        font-size: 30px;
        color: @font-color4;
        line-height: 1.2;
        font-family: @font1-bold;
        text-transform: uppercase;
    }

    .readmore {
        position: relative;
        z-index: 1;
        margin-top: 40px;

        a {
            font-family: @font1-bold;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;
            padding: 15px 60px 15px 15px;
            border: 2px solid @color4;
            color: @color4;
            background-color: transparent;

            &:hover {
                background-color: @color1;
                border: 2px solid @color1;
            }

            &:hover span {
                border-left: 2px solid @color1;
            }
        }

        span {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 14px;
            border-left: 2px solid @color4;
            .transition(0.2s);
        }
    }
}






/*------------------------------------*\
    #MOD_CATEGORY (модуль категорий на главной)
\*------------------------------------*/
.mod_blocks_gr.default {
    background-color: lighten(@color1, 53%);
    padding: 20px 0;
    margin-bottom: 30px;

    .blocks {
        margin-left: -20px;
    }

    .block {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    a {
        display: block;
        background-color: white;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: @color1;
            opacity: 0;
            visibility: hidden;
            .transition(0.2s);
        }

        &:hover:after {
            opacity: 0.7;
            visibility: visible;
        }

        &:hover .img {
            .scale(1.2);
        }

        &:hover .name {
            color: @color4;
        }
    }

    .img {
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right -25px;
        .transition(0.2s);
        .scale(1);
    }

    .name {
        font-family: @font1-bold;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 20px 25px 20px;
        height: 75px;
        line-height: 1.1;
        position: relative;
        z-index: 1;
        color: @color1;
        .transition(0.2s);
    }
}






/*------------------------------------*\
    #BLOCKS_MAIN (блоки на главной)
\*------------------------------------*/
.after-content-style-none {
    position: relative;
    padding-bottom: 40px;

    .container {
        position: relative;
    }

    .all-news {
        position: absolute;
        right: 0;
        top: 30px;

        a {
            color: lighten(@color1, 30%);
            border-bottom: 1px solid lighten(@color1, 30%);

            &:hover {
                border-bottom: 1px solid transparent;
            }
        }
    }

    .name {
        font-size: 30px;
        font-family: @font3;
        padding: 20px 0 30px 0;
        text-transform: uppercase;
        font-weight: bold;
        color: lighten(@color3, 30%);
    }

    .block-main {
        float: left;
        width: 25%;
        height: 260px;
    }

    .news-single:nth-child(even) {
        background-color: lighten(@color1, 53%);
    }

    .news-single:nth-child(odd) {
        background-color: lighten(@color1, 60%);
    }

    .news-single {
        padding: 30px 20px;
    }

    .newsflash-title {
        font-size: 16px;
        font-weight: bold;
        color: @color1;
        text-transform: uppercase;
        font-family: @font3;
        padding-bottom: 10px;
        line-height: 1.3;
        letter-spacing: 0.6px;
    }

    .intro {
        color: lighten(@color3, 40%);
        line-height: 1.4;
    }

    .readmore {
        margin-top: 15px;

        a {
            border-bottom: 2px solid lighten(@color1, 40%);
            color: lighten(@color1, 10%);

            &:hover {
                border-bottom: 2px solid transparent;
            }
        }
    }

    .director {
        color: @font-color4;
        background-color: @color1;
        padding: 25px 20px;

        .prof {
            font-family: @font3;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 20px;
        }

        .quote {
            font-family: @font1;
            font-size: 14px;
            color: lighten(@color1, 50%);
            line-height: 1.5;
            padding-left: 20px;
            position: relative;
            margin-bottom: 20px;
        }

        .open-quote {
            font-family: @font3;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            left: 0px;
            top: -10px;
        }

        .close-quote {
            font-family: @font3;
            font-size: 26px;
            font-weight: bold;
            position: absolute;
            bottom: -10px;
            right: 0px;
        }

        .fio {
            font-family: @font3;
            font-size: 12px;
        }

        &.img {
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .block-main.slider {
        width: 50%;
        padding: 40px;

        .img {
            width: 30%;
            float: left;
        }

        .desc {
            width: 65%;
            float: left;
            position: relative;
            margin-left: 5%;
            padding-bottom: 40px;
        }

        .item {
            height: auto;
        }

        .dots {
            bottom: 0;
            left: 0;
            top: auto;
        }

        .dot {
            display: inline-block;
            background-color: lighten(@color3, 60%);
            border: none;
            height: 15px;
            width: 15px;
        }

        .dot + .dot {
        }

        .dot.active {
            background-color: lighten(@color1, 15%);
        }

        .name {
            font-weight: bold;
            font-family: @font3;
            font-size: 16px;
            color: @font-color1;
            padding: 10px 0 25px 0;
        }

        .desc-name {
            line-height: 1.4;
            color: lighten(@color3, 55%);
            font-size: 14px;
            font-family: @font1;
        }

        img {
            border: 6px solid lighten(@color1, 50%);
            max-width: 100%;
            cursor: pointer;
        }
    }
}

.modal-body img {
    max-width: 100%;
}






/*------------------------------------*\
    #MOD_JOOMSHOPPING_CATEGORIES (модуль категорий)
\*------------------------------------*/
.mod_jshopping_categories {
    margin-left: -25px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid lighten(@color1, 54%);

    .categories_group {
        width: 25%;
        float: left;
        padding-left: 25px;
    }

    .jshop_menu_level_1, .jshop_menu_level_1_a {
        display: none;
    }

    .jshop_menu_level_0, .jshop_menu_level_0_a {
        padding-bottom: 25px;
        border-bottom: 1px solid lighten(@color1, 54%);
        margin-bottom: 25px;

        a {
            font-size: 16px;
            font-weight: bold;
            font-family: @font3;
            color: @font-color1;

            &:hover {

            }
        }
    }

    .child-cat {
        padding-bottom: 15px;

        a {
            color: lighten(@color3, 40%);
            font-family: @font3;
            line-height: 1.1;

            &:hover {
                color: @color1;
            }
        }
    }
}






/*------------------------------------*\
    #FOOTER (футер)
\*------------------------------------*/
.footer {
    .logo {
        width: 100%;
        display: block;
        height: 62px;
        background-image: url(../images/logo.png);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        .transition(0.2s);

        &:hover {
            background-image: url(../images/logo-hover.png);
        }
    }

    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid lighten(@color1, 54%);
    }

    .custom {
        float: left;
        width: 25%;
    }

    img {
        max-width: 50%;
    }

    .phone {
        font-size: 22px;
        font-family: @font1;
        color: lighten(@color3, 30%);
        padding-top: 8px;

        span {
            color: @color1;
            font-weight: bold;
        }

        p {
            display: inline-block;
            width: 80%;
        }

        &:before {
            content: '';
            background-image: url(../images/phone.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 43px;
            height: 43px;
            display: inline-block;
            border: 2px solid @color1;
            border-radius: 100%;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .mail {
        font-size: 16px;
        font-family: @font3;
        color: lighten(@color3, 30%);
        padding-top: 8px;

        p {
            display: inline-block;
            width: 80%;
        }

        &:before {
            content: '';
            background-image: url(../images/mail.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 43px;
            height: 43px;
            display: inline-block;
            border: 2px solid @color1;
            border-radius: 100%;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .medialine {
        padding-top: 22px;
        font-size: 16px;
        font-family: @font3;
        color: lighten(@color3, 30%);

        a {
            color: @color1;
            border-bottom: 1px solid @color1;

            &:hover {
                border-bottom: 1px solid transparent;
            }
        }
    }
}






/*------------------------------------*\
    #MODAL_FORM (форма)
\*------------------------------------*/
.modal-content {
    padding: 30px;
    position: relative;
    text-align: left;

    .close {
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 28px;
        cursor: pointer;

        &:hover {
            color: @color1;
        }
    }

    .page-head {
        text-align: center;
        padding-bottom: 20px;
    }

    .input {
        height: 38px;
        width: 100%;
        padding: 0 10px;
    }

    textarea.input {
        height: 100px;
        width: 100%;
        padding: 0 10px;
    }

    .text {
        text-align: left;
        padding-bottom: 5px;
        padding-top: 15px;
        font-size: 16px;
    }

    .send {
        text-align: center;
        padding-top: 30px;
    }

    button {
        padding: 6px 70px;
        font-size: 18px;
        border: 1px solid @color1;
        background-color: @color1;
        color: @color4;
        .transition(0.2s);

        &:hover {
            background-color: @color4;
            color: @color1;
        }
    }
}






/*------------------------------------*\
    #MOD_CATEGORY_INNER (модуль категорий на внутренних страницах)
\*------------------------------------*/
.mod_blocks_gr.catalog {
    background-color: lighten(@color1, 53%);
    padding: 30px 0;
    margin-bottom: 30px;

    .blocks {
        margin-left: -20px;
    }

    .block {
        float: left;
        width: 25%;
        padding-left: 20px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 60%;
            height: 8px;
            box-shadow: none;
            bottom: 5px;
            left: 22%;
            .transition(0.2s);
        }

        &:hover:after {
            box-shadow: 0 10px 30px 9px @color6;
        }
    }

    a {
        display: block;
        background-color: white;
        position: relative;
        overflow: hidden;
        text-align: right;
        z-index: 1;

        &:hover .img {
            .scale(1.2);
        }

        &:hover .name {
            color: @color4;
        }

        &:hover {
            background-color: @color1;
        }

        &:after {

        }
    }

    .img {
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        .transition(0.2s);
        .scale(1);
    }

    .name {
        font-family: @font1-bold;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.1;
        position: relative;
        z-index: 1;
        color: @color1;
        display: inline-block;
        width: 68%;
        vertical-align: middle;
        .transition(0.2s);
    }
}






/*------------------------------------*\
    #BREADCRUMBS (хлебные крошки)
\*------------------------------------*/
.breadcrumb {
    padding: 0;
    background-color: transparent;

    &>li+li:before {
        content: '';
        padding: 0;
    }

    li {
        display: inline-block;
        position: relative;
    }

    a {
        color: @font-color5;
        border-bottom: 2px solid lighten(@color5, 45%);

        &:hover {
            border-bottom: 2px solid transparent;
        }
    }

    .crumb + .crumb {
        margin-left: 30px;
    }

    .crumb + .crumb:after {
        position: absolute;
        content: url(../images/arrow-crumb.png);
        left: -22px;
        top: 14px;
    }

    span {
        display: inline-block;
    }
}






/*------------------------------------*\
    #JSHOP_LIST_CATEGORY (список категорий)
\*------------------------------------*/
#mxcpr {
    display: none;
}

.jshop_list_category {
    .sblock4 {
        width: 25%;
        float: left;
        padding-left: 30px;
        margin-bottom: 40px;
    }

    .categories {
        margin-left: -30px;
    }

    .image {
        height: 170px;
        background-repeat: no-repeat;
        background-size: auto 90%;
        background-position: center center;
        background-color: white;
        position: relative;
        z-index: 1;
        .transition(0.2s);
    }

    .image-overflow {
        overflow: hidden;
    }

    .image-wrapper {
        position: relative;
        border: 1px solid lighten(@color1, 54%);

        &:after {
            content: '';
            position: absolute;
            width: 70%;
            height: 8px;
            box-shadow: none;
            bottom: 5px;
            left: 15%;
            .transition(0.2s);
        }
    }

    img {
        max-width: 100%;
    }

    .name {
        color: @font-color5;
        text-align: center;
        line-height: 1.4;
        padding-top: 30px;

        span {
            border-bottom: 2px solid lighten(@color5, 45%);
            .transition(0.2s);
        }
    }

    a {
        display: block;
    }

    a:hover {
        .name span {
            border-bottom: 2px solid transparent;
        }

        &:hover .image-wrapper:after {
            box-shadow: 0 6px 40px 9px @color6;
        }

        .image {
            .scale(1.1);
        }
    }

    .category_description {
        padding-bottom: 40px;
        line-height: 1.5;
        color: lighten(@color3, 40%);
    }
}






/*------------------------------------*\
    #JSHOP_CATEGORY_FULL (категория детально)
\*------------------------------------*/
.category-full {
    .left-block {
        width: 40%;
        float: left;

        .img {
            height: 300px;
            background-repeat: no-repeat;
            background-size: auto 90%;
            background-position: center center;
            border: 1px solid lighten(@color1, 55%);
            margin-bottom: 20px;
        }
    }

    .right-block {
        width: 57%;
        margin-left: 3%;
        float: left;
    }

    .form-block {
        margin: 0 5px 20px 5px;
        padding: 35px;
        .gradient(#f4f7ff, #ebf0ff, #ebf0ff, top);
        border-radius: 2px;
        position: relative;
        z-index: 1;
    }

    .buy-text {
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 30px;

        span {
            text-transform: lowercase;
        }
    }

    .prev-text {
        line-height: 1.5;
        font-size: 16px;
    }

    .modal_form_btn {
        background-color: @color1;
        color: @font-color4;
        font-family: @font1;
        text-align: center;
        padding: 15px 0;
        font-size: 20px;
        border-radius: 3px;
        margin-top: 30px;
        cursor: pointer;
        .transition(0.2s);
        position: relative;
        z-index: 1;

        &:hover {
            background-color: @color2;
        }
    }

    .form-mod {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 70%;
            height: 8px;
            box-shadow: none;
            bottom: 5px;
            left: 15%;
            box-shadow: 0 6px 30px 5px @color6;
            .transition(0.2s);
        }
    }

    .form-block-wrapper {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 80%;
            height: 8px;
            box-shadow: none;
            bottom: 5px;
            left: 10%;
            box-shadow: 0 6px 45px 1px @color3;
            .transition(0.2s);
        }
    }

    .right-block {
        .name {
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            padding-top: 0;
            padding-bottom: 30px;
            color: @font-color3;
            text-transform: uppercase;
        }
    }

    .products {
        border-top: 1px solid lighten(@color1, 55%);
        border-bottom: 1px solid lighten(@color1, 55%);
        padding: 20px 0 25px 0;
        margin-bottom: 40px;
    }

    .product {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        padding: 10px 0;

        a {
            line-height: 1.3;
            border-bottom: 1px solid @color5;
            color: @font-color5;
            display: inline;
            position: relative;
            left: 20px;

            &:hover {
                border-bottom: 1px solid transparent;
            }

            &:hover:before {
                left: -15px;
            }

            &:before {
                content: url(../images/arrow-gray.png);
                position: absolute;
                left: -20px;
                .transition(0.2s);
            }
        }
    }

    .description {
        line-height: 1.5;
        color: lighten(@font-color3, 35%);

        p {
            padding-bottom: 15px;
        }
    }
}






/*------------------------------------*\
    #JSHOP_PRODUCT (Товар)
\*------------------------------------*/
.productfull {
    .jshop_prod_description {
        padding-bottom: 40px;
        line-height: 1.5;
        color: lighten(@font-color3, 35%);

        p {
            padding-bottom: 15px;
        }
    }
}







/*------------------------------------*\
    #CONTENT (контент)
\*------------------------------------*/
.main-content {
    padding-bottom: 20px;
}

.page-header, h2 {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 700;
    font-size: inherit;
}

.page-name, .componentheading, .page-header, .page-head, .subheading-category {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 35px 0;
    display: block;
}

.item-page {
    min-height: 300px;

    p, ul, ol {
        padding-bottom: 10px;
        line-height: 1.5;
        margin: 0;
    }
}

.left-block-content {
    float: left;
    width: 60%;
    margin-right: 5%;
}

.right-block-content {
    float: left;
    width: 35%;

    .mod_form_gr {
        input {
            width: 100%;
            height: 40px;
            margin-bottom: 15px;
            padding: 5px;
        }

        textarea {
            width: 100%;
            margin-bottom: 15px;
            padding: 5px;
            height: 150px;
        }

        button {
            width: 100%;
            padding: 15px 0;
            background-color: @color1;
            color: @font-color4;
            .transition(0.2s);
            text-transform: uppercase;
            border: none;

            &:hover {
                background-color: @color2;
            }
        }
    }
}

.items-more {
    display: none;
}







/*------------------------------------*\
    #PAGINATION (пагинация)
\*------------------------------------*/
.pagination {
    text-align: center;
    width: 100%;

    .pagination-start, .pagination-prev, .pagination-next, .pagination-end, .counter {
        display: none;
    }

    li {
        display: inline-block;
        margin: 0 5px;
    }

    a, span {
        height: 30px;
        width: 30px;
        display: block;
        padding-top: 8px;
        font-size: 16px;
    }

    span {
        background-color: @color1;
        color: @font-color4;
        border-radius: 100%;
    }

    a {
        color: @font-color1;

        &:hover {
            color: @font-color2;
        }
    }
}






/*------------------------------------*\
    #GUESTBOOK (контент)
\*------------------------------------*/
.easy_pagination, #easyfooter {
    display: none;
}

#easybook {
    button, .btn {
        background-color: @color1;
        border-color: transparent;
        .transition(0.2s);

        &:hover {
            background-color: @color2;
        }
    }

    form {
        input {
            height: 40px;
            margin-bottom: 20px;
            margin-top: 5px;
            width: 350px;
            padding: 5px;
        }

        textarea {
            width: 350px;
            height: 250px;
            margin-top: 5px;
            margin-bottom: 20px;
            padding: 5px;
        }
    }

    .easy_top {
        background-color: lighten(@color1, 20%);
        color: white;
    }

    .easy_content {
        background-color: lighten(@color1, 61%);
        border-left: 5px solid lighten(@color1, 20%);
        border-right: 5px solid lighten(@color1, 20%);
        background-image: none;
    }

    .easy_admincomment {
        background-color: lighten(@color1, 61%);
        border-left: 5px solid lighten(@color1, 20%);
        border-right: 5px solid lighten(@color1, 20%);
        background-image: none;
    }

    .easy_frame {
        margin-bottom: 35px;
        .transition(0.2s);

        &:hover {
            box-shadow: 0px 0 25px 0 lighten(@color1, 40%);
        }
    }

    .easy_entrylink {
        padding: 0;
    }
}







/*------------------------------------*\
    #NEWS (список новостей)
\*------------------------------------*/
.blog {
    .page-header {
        font-size: 20px;
        padding: 0 0 15px 0;
        text-transform: none;
    }

    .items-leading > div {
        padding-bottom: 35px;
    }

    a {
        color: @font-color1;

        &:hover {
            color: @font-color2;
        }
    }

    p {
       line-height: 1.4;
    }
}







/*------------------------------------*\
    #SEARCH_PAGE (страница поиска)
\*------------------------------------*/
.main-content {
    .search {
        input {
            height: 30px;
        }

        .searchintro {
            padding: 15px 0;
        }

        .result-text {
            padding-bottom: 20px;
        }

        .form-limit {
            display: none;
        }
    }
}
