

.style06_accordion {
	padding: 0px;
}

.style06_accordion .ju-tabs-container {
	border: 0px none;
}

.style06_accordion ul.ju-tabs-accordion {
	padding: 0px ! important;
	margin: 0px ! important;
}

.style06_accordion ul.ju-tabs-accordion-horizontal li h3.ju-tabs-accordion-title {
	margin: 2px ! important;
}

.style06_accordion ul.ju-tabs-accordion-vertical li {
	margin: 5px 0px;
}

.style06_accordion ul.ju-tabs-accordion li h3.ju-tabs-accordion-title.active {
	color: #EE9900;
	background: url("images/tab_bg2.png") repeat-x scroll left top -1px transparent;
}

.style06_accordion ul.ju-tabs-accordion li h3.ju-tabs-accordion-title {
	text-transform: uppercase;
	font-size: 12px;
	background: url("images/tab_bg2.png") repeat-x scroll left top -1px transparent;
	border: 1px solid #E7E7E7;
	border-radius: 5px 5px 5px 5px;
}

.style06_accordion ul.ju-tabs-accordion li h3.ju-tabs-accordion-title span.ju-tabs-accordion-arrow {
}

.style06_accordion ul.ju-tabs-accordion li div.ju-tabs-accordion-content {
	background: none repeat scroll 0% 0% #FFFFFF;
}

.style06_accordion ul.ju-tabs-accordion-horizontal li div.ju-tabs-accordion-content {
	border: 1px solid #E7E7E7;
	border-radius: 5px 5px 5px 5px;
	margin: 3px;
}

.style06_accordion ul.ju-tabs-accordion-vertical li div.ju-tabs-accordion-content {
	border: 1px solid #E7E7E7;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 0px;
}

.style06_accordion ul.ju-tabs-accordion li div.ju-tabs-accordion-subcontent {
	padding: 10px;
}